@import 'cssResets';
@import 'variables';
@import 'mixin';
@import 'images';
@import 'nav';
@import 'icon';
@import 'button';



// .imgBack{
// 	@mixin dimesnsion{
		
// 	}
// }


body {
	background-color: #333;
}

.test{
	background-color: orange;
	background-image: url('../images/homeBackground.jpeg');
	@include dimension(100%,100vh);
	
}